@use "styles/palette";
@use "styles/shape";
@use "styles/transition";

.input {
  width: 100%;
  min-width: 0;
  display: inline-flex;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: shape.get("borderWitdh") solid palette.get("border.primary");
  border-radius: shape.get("borderRadius");
  padding: 0 1.2rem;
  background: palette.get("background.secondary");
  color: palette.get("text.secondary");
  line-height: normal;
  outline: none;
  transition: transition.generate(border-color, color, background);
  height: 4rem;
  font-size: 1.4rem;
  &::placeholder {
    opacity: 1;
  }
  &:focus {
    border-color: palette.get("border.secondary");
    color: palette.get("text.secondary");
  }
}

.large {
  height: 4.8rem;
  font-size: 1.6rem;
}
