$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@mixin button {
  font-weight: $font-weight-light;
  font-size: 1.4rem;
  line-height: 0;
  letter-spacing: 0.4px;
}
