@use "styles/palette";
@use "styles/transition";

.roomLobby {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: palette.get("background.secondary");
  transition: transition.generate(background);
  padding: 3rem;
}
