@use "styles/palette";
@use "styles/transition";

.roomJoin {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: palette.get("background.secondary");
  transition: transition.generate(background);
}

.form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
